# **Task 4 - SQL**
#### Author: Anthony Schomer
#### GitHub: https://github.com/anythonyschomer

## Connecting to the Books Database

In [1]:
import sqlite3
connection = sqlite3.connect('books.db')
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

## Displaying the Authors Table

In [ ]:

pd.options.display.max_columns = 10
pd.read_sql('SELECT* FROM authors', connection
            index_col=['id'])

## Displaying the Titles Table
## Displaying the Author_ISBN Table

## 17.2.2 Select Query

## 17.2.3 Where Query

## 17.2.4 ORDER By Query

## 17.2.5 Inner Join

## 17.2.6 Insert Into

## 17.2.7 Update

## 17.2.8 Delete From

In [ ]:
pd.read_sql('SELECT * FROM titles', connection)

df = pd.read_sql('SELECT * FROM author_ISBN', connection)
df. head()
pd.read_sql('SELECT first, last FROM authors', connection)

pd.read_sql("""SELECT title, edition, copyright
            FROM titles
            WHERE copyright > '2016""", connection)

pd.read_sql("""SELECT id, first, last
            FROM titles
            WHERE copyright > '2016'""", connection)

pd.read_sql("""SELECT id, first, last
            FROM authors
            WHERE last LIKE '_D%'""",
            connection, index_col=['id'])


pd.read_sql("""SELECT id, first, last
            FROM authors
            WHERE first LIKE '_b%'""",
            connection, index_col=['id'])

pd.read_sql('SELECT title FROM titles ORDER BY title ASC',
            connection)

pd.read_sql("""SELECT is, first, last
            FROM authors
            ORDER BY last, first""",
            connection, index_col=['id'])

pd.read_sql("""SELECT id, first, last
            FROM authors
            ORDER by last DESC, first ASC""",
            connection, index_col=['id'])

pd.read_sql("""SELECT isbn, title, edition, copyright
            FROM titles
            WHERE title LIKE '%How To Program'
            ORDER BY title""", connection)

pd.read_sql("""SELECT first, last, isbn, 
            FROM authors
            INNER JOIN authors_ISBN
            ON authors.id = author_ISBN.id
            ORDER BY last, first""", connection).head()

cursor = connection.cursor()

cursor = cursor.execute("""INSERT INTO authors (first, last)
                        VALUES ('Sue', 'Red')""")



pd.read_sql('SELECT id, first, last FROM authors', 
            connection, index_col=['id'])

cursor = cursor.execute("""UPDATE authors SET last='Black'
                        WHERE last='Red' AND first='Sue'""")


cursor.rowcount


pd.read_sql('SELECT id, first, last FROM authors',
            connection, index_col=['id'])

pd.read_sql("""SELECT title, edition FROM titles
            ORDER BY edition DESC""", connection).head(3)

pd.read_sql("""SELECT * FROM authors
            WHERE first LIKE 'A%'""", connection)

pd.read_sql("""SELECT isbn, title, edition, copyright
            FROM titles
            WHERE title NOT LIKE '%How to Program'
            ORDER BY title""", connection)