# **Task 4 - SQL**
#### Author: Anthony Schomer
#### GitHub: https://github.com/anythonyschomer

## Connecting to the Books Database

In [ ]:
[
    # Importing SQLite3 and Pandas
    import sqlite3
    import pandas as pd\n",
    \n",
    # Setting up the connection to the Books database
    connection = sqlite3.connect('books.db')
    # Setting the max columns to 10
    pd.options.display.max_columns = 10
   ]

## Displaying the Authors Table

In [ ]:
[{
       <div>
       <style scoped>
           .dataframe tbody tr th:only-of-type
               vertical-align: middle;
           }\n",
       \n",
           .dataframe tbody tr th {
               vertical-align: top;
           }
            ,
           .dataframe thead th {,
               text-align: right;,
           }\n",
                  </style>,
       <table border=\"1\" class=\"dataframe\">,
         <thead>,
           <tr style=\"text-align: right;\">,
             <th></th>,
             <th>first</th>,
             <th>last</th>,
           </tr>,
           <tr>,
             <th>id</th>,
             <th></th>,
             <th></th>,
           </tr>,
         </thead>,
         <tbody>,
           <tr>,
             <th>1</th>,
             <td>Paul</td>,
             <td>Deitel</td>,
           </tr>",
             <tr>",
             <th>2</th>,
             <td>Harvey</td>,
             <td>Deitel</td>,
           </tr>,
           <tr>,
             <th>3</th>,
             <td>Abbey</td>,
             <td>Deitel</td>,
           </tr>,
           <tr>,
             <th>4</th>,
             <td>Dan</td>,
             <td>Quirk</td>,
           </tr>,
           <tr>,
             <th>5</th>,
             <td>Alexander</td>,
             <td>Wald</td>,
           </tr>,
         </tbody>,
        </table>,
       </div>
      ]