# **Task 4 - SQL**
#### Author: Anthony Schomer
#### GitHub: https://github.com/anythonyschomer

## Connecting to the Books Database

In [ ]:
[
    "# Importing SQLite3 and Pandas\n",
    "import sqlite3\n",
    "import pandas as pd\n",
    "\n",
    "# Setting up the connection to the Books database\n",
    "connection = sqlite3.connect('books.db')\n",
    "# Setting the max columns to 10\n",
    "pd.options.display.max_columns = 10"
   ]

## Displaying the Authors Table

In [ ]:
[
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>first</th>\n",
       "      <th>last</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>id</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>Paul</td>\n",
       "      <td>Deitel</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>Harvey</td>\n",
       "      <td>Deitel</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Abbey</td>\n",
       "      <td>Deitel</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Dan</td>\n",
       "      <td>Quirk</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>Alexander</td>\n",
       "      <td>Wald</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
"text/plain": []
        "first    last,
id,
"1        Paul  Deitel\n",
"2      Harvey  Deitel\n",
"3       Abbey  Deitel\n",
"4         Dan   Quirk\n",
"5   Alexander    Wald",
,
"execution_count": 2,
"metadata": {},
"output_type": "execute_result",